#loginButton{
-fx-background-color : #337ab7;
-fx-text-fill:#fff;
-fx-border-color:#2e6da4;
-fx-border-radius:5px;
}

#body{
-fx-background-color: #fff;
}
#newjunk{
-fx-background-color: #235a81;
-fx-text-fill : #fff;
-fx-font-family: Tahoma;
}